<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class='container'>

  	 
    <form method="post" action='/' class="form-horizontal">
    	<label for="user_name" class="col-sm-2 control-label">Name</label>
    	<div class="col-sm-10">
      <input type='text' name='user_name' placeholder='name'>
  </div>
  <label for="user_age" class="col-sm-2 control-label">Age</label>
    <div class="col-sm-10">
      <input type='text' name='user_age' placeholder='age'>
	</div>
      <button type='submit'>Submit</button>
  </form>
    </form>

  </div>
</body>
</html>